.navbar{
    display: flex;
    margin-bottom: 5px;
}

.separetor{
    border-bottom: 2px solid #94ADCF;
    max-width: 95%;
    margin: auto;
    margin-top: 25px;
}

.navbar .container{
    display: flex;
    max-width: 95%;
    margin: auto;
    justify-content: end;
}

.navbar-brand a{
    cursor: pointer;
    text-decoration: none;
}

.navbar-brand i{
    color: #94ADCF;
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: 15px;
    right: 5em;
}

.invisible-icon{
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}

.visible-icon {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}