{% extends 'include/base.html' %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" href="{% static '/css/authentication.css' %}">
{% endblock imports %}

{% block title %}Sing In{% endblock title %}

{% block content %}
    <main class="container-main">
        <div class="login-container">
            <div class="login-hub">
                <div class="login-hub-content">
                    <h1>Bem vindo!</h1>
                    <p> Faça login para ter acesso a todos os seus compromissos na sua agenda pessoal.</p>
                </div>
            </div>
            <form class="login-card" method='POST'>
                {% csrf_token %}
                <div class='card-title'>
                    <h3>Sing In</h3>
                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger col-12 mx-1" role="alert">
                        <div id="form_errors">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class='login-field'>
                    {{form.username}} 
                </div>
                <div class='login-field'>
                    {{form.password}}
                </div>
                <button class='login-button'> Login </button>
                <div class='footer-login-card'>
                    <p>Ainda não é um membro? <a href="{%url 'register'%}">Registre-se</a></p>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}